// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background: $page-bg;
}

body {
  header[role="banner"] {
    @include background($header-bg-front);
    height: 218px;

    h1 {
      line-height: 0.8em;
      margin: 50px 0 0 380px;

      a {
          color: #61655F;
          font-size: 16pt;
      }
    }

    h2 {
      color: #616880;
      font-size: 11pt;
      margin: 0 0 0 412px;
    }
  }
}

li, p {
  font-size: 12pt;
}

.sharing {
  margin-bottom: 10px;
}

@if $indented-lists == false {
  @media only screen and (min-width: 768px) {
    ul, ol { margin-left: 1.5em; }
  }
}

#uyan_frame {
  padding-top: 45px;
}

article img {
  max-width: 320px;
}

article img.widescreen {
  max-width: 650px;
}

article img.text-around-figure-left {
  float: right;
  margin: 5px;
}

.comments {
  font-size: 10pt;
}

table {
  margin-bottom: 10px;
}

th, td {
  border: solid 1px #EDEDED;
  font-size: 10pt;
  padding: 5px;
}

th {
  font-weight: bold;
}

td.near-separator-bar {
  padding-left: 25px;
}

hr {
  height: 2px;
  border: none;
  border-top: 2px dotted #DDD;
}
